/LaTeX/guildcamp2_path.cls
/Bluesheets/*.aux
/Bluesheets/*.log
/Bluesheets/*.pdf
/Bluesheets/*.gz
/Charsheets/*.aux
/Charsheets/*.log
/Charsheets/*.pdf
/Charsheets/*.gz
/Greensheets/*.aux
/Greensheets/*.log
/Greensheets/*.pdf
/Greensheets/*.gz
/Handouts/rules-scenario_Con.synctex.gz
/Lists/item-LIST.log
/Lists/sign-LIST.log
/Production/carditem-PRINT.synctex.gz
/Production/paperitem-PRINT.synctex.gz
/Production/sign-PRINT.synctex.gz
